// Your custom SCSS should be written here...


.overview .row {
    border-bottom: 1px dashed;
}

.send fieldset {
    border-top: 1px dashed;
    margin-top: 10px; //TODO use mixin for size in px
}

.history-small table tbody td {
    border:0;
}
.history-small table tbody th {
    padding-left: 10px; //TODO use mixin for size in px
}

.history-small tbody {
    border: 1px solid #e5e5e5; //TODO Use mixin for color
}

.navbar li.active a {
    color: $chroma-orange; //Temp
}

.row {
    background-color: #fff;
}

.navbar {
    background-color: $chroma-dark-blue;
    margin-bottom: 0;
}
.navbar ul li > a {
    font-size: 1.5rem;
}

span.desktop {
    display: none;
}
span.non-desktop {
    display: inline;
}


@include respond(desktop) {
    .navbar {
        margin-top: 30px;
    }

    span.desktop {
        display: inline;
    }
    span.non-desktop {
        display: none;
    }
}

@include respond(desktop) {
    body {
        /* background-image: url(../img/starnetblog_subtile_gray_pattern5.jpg); */
        /* background-repeat: repeat; */
        background-color: #ddd;
    }
}

.navbar ul li > a {
    text-shadow: inherit;
}


.module-heading h2 {
    float: left;
}

.module-heading .right-button {
    float: right;
    margin-top: 15px;
}

.btn {
    margin: 1px;
}

.overview__address {
    overflow: hidden;
    text-overflow: ellipsis;
}


.history__address {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}


.receive__address-cell {
    max-width: 150px;
}
.receive__address {
    display: inline-block;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-icon {
    cursor: pointer;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
}

.copy-icon:hover {
    opacity: 0.6;
    background-color: $chroma-grey;
}
