# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# vim files
*.swp
*.swo

\.sass-cache
\.DS_Store
.module-cache

node_modules/*
build/
rsync-to-henrik.sh

dist/
cc-wallet-engine.js

mobile/www
mobile/platforms/android
mobile/plugins

# gumby.css is built with compass
css/gumby.css

# test wallets
testwallets.txt
