# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*


\.sass-cache
\.DS_Store
.module-cache

node_modules/*
build/
rsync-to-henrik.sh