<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chromaway.chromawallet" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>ChromaWallet</name>
    <description>
        A demo wallet for colored-coins, a crypto 2.0 technique
    </description>
    <author email="info@chromaway.com" href="http://www.chromaway.com">
        ChromaWay AB
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="BarcodeScanner">
        <param name="id" value="com.phonegap.plugins.barcodescanner" />
    </feature>
    <feature name="Clipboard">
        <param name="id" value="com.verso.cordova.clipboard" />
    </feature>

</widget>
